/* ==========  Header Logo  ========== */
header #logo{
    margin-top: 7px;
    margin-right: 30%;
    float: right;
}

/* ========== Navigation Menu and Submenu ========== */

/* ----- Hamburger Menu Logo ----- */
#nav-options-icon{
    display: inline;
    width: 40px;
    height: 40px;
    margin-top:10px;
}

nav{
    float: none;
    position: fixed;
    font-size: 1em;
} 
#nav1 img{
    display: inline;
}
#nav1 {
    background-color: white;
    margin-top: 25px;
    width:275px;
    min-height: 100px;
    border: 1px solid #FE642E;  /* instead of gray */
    box-shadow: 5px 10px 10px 15px rgba(0, 0, 0, 0.2); 
    position: relative; 
}
#nav1 img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    float: left;
}

/* ----- 1st unorder list ----- */
#nav1 ul {
    position: relative;
    line-height: 2em;
    display: block;
    margin: 0;
    width: 150px;
    text-align: left; 
}
#nav1 ul button {
    background-color: white;
    width: 140px;
    font-weight: bold;
    font-size: 1.2em;
    color: #2E2E2E;
}
#nav1 ul li {
    font-weight: bold;
    background-color: white;
    padding: 15px;
    margin-right: 0px;
    width: 240px;
    height: auto;
    border-bottom: 1px solid #D8D8D8;
}
#nav1 ul li a{
    color: #2E2E2E;
}
.nav-title:hover{
    border-bottom: none;
}

#nav1 ul li:hover {
    font-weight: 900;
}
#nav1 ul li:hover:after {
    margin-top: 0px;
    border: none;
}
#nav1 ul li:hover ul {
    display: none;
}

/* ----- 2nd unorder list ----- */
#nav1 ul ul {
    margin-left: 10px;
    width: 220px; 
    height: auto;
    position: relative;
    border: 1px solid white;
}
#nav1 ul ul li { 
    display: inline-block; 
    padding: 10px;
    width: 120px;
    border: 1px solid white;
    margin-left: 20px;
}  
#nav1 ul ul li button { 
   font-weight: normal; 
   width: 130px;
} 
#nav1 ul ul li:hover:after {
    margin-top: 0px;
}
#nav1 ul ul li a{
    font-weight: 500;
    color: black;
    padding: 0px;
}
#nav1 ul ul li a:hover {
    font-weight: 100;
    margin: 0px;
}

/* ----- 3rd unorder list ----- */
 #nav1 ul ul ul{
    position: relative;
    margin-bottom: 20px;
    padding: 0px;
    width: 100px;
    top: 0;
    left: 0px;
    right: 0px; 
} 
#nav1 ul ul ul li{
    display: inline-block;
    border: 1px solid white;
}
#nav1 ul ul ul li a {
    color: #424242;
}
#nav1, 
#t1-sub, #t1-sub1, #t1-sub2, #t1-sub3, 
#t2-sub, #t2-sub1, #t2-sub2, #t2-sub3,
#t3-sub, #t3-sub1, #t3-sub2, #t3-sub3,
#t4-sub, #t4-sub1, #t4-sub2, #t4-sub3,
#t5-sub, #t5-sub1, #t5-sub2, #t5-sub3,
#t6-sub, #t6-sub1, #t6-sub2, #t6-sub3,
#t7-sub, #t7-sub1, #t7-sub2, #t7-sub3{
    display: none;
}