/* =========================  Default  ========================= */

html, body{
    margin: 0;
    font-family:  'Trebuchet MS', sans-serif; 
    font-stretch: ultra-condensed;
    font-size: 0.92em;
}
/* ---------- ==========  Colors  ========== ---------- 
Main Orange:     #FE642E        Background, Fonts, H1
Dark Orange:     #B40404        Fonts
Very light Gray: #FAFAFA        Header BG
Paragraph:       #6E6E6E
*/

/* ---------- ==========  Globals  ========== ---------- */
:root{
    --dark-orange: #B40404;
    --white: white;
    --color-orange: #FE642E;
}
a{
    text-decoration: none;
    color: black;
}
button {
    color: black;
}
p{
    color: #6E6E6E;
}
h1{
    color: var(--color-orange);
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.ctn{
    width: 850px;
    min-height: 10px;
    color: #6E6E6E;
}
.fontDarkOrange{
    color: var(--dark-orange);
}

.fontWhite{
    color: var(--white);
}

/* ---------- ==========  Banner  ========== ---------- */
#banner{
    width: 100%;
    height: 25px;
    background-color: #FE642E;
    padding-top: 7px;
    display: flex;
}
#banner div{
    float: left;
    padding-right: 5px;
}
#banner a{
    float: right;
    margin-left: 10px;
}

/* ---------- ==========  Header  ========== ---------- */
header{
    width: 100%;
    height: 100px;
    background-color: #FAFAFA;
}
header .ctn{
    padding-top: 20px;
}
header #logo{
    margin-top: 7px;
}
/* ---------- ==========  Navigation  ========== ---------- */
nav{
    float: right;
    margin-top: 10px;
    min-height: 30px;
    min-width: 10px; 
    font-size: 0.9em; 
    /* z-index: 2; */
} 
nav button {
    border: none;
}
#nav-options-icon{
    display: none;
}
#nav1 img{
    display: none;
}

.nav-title {
    height: 17px;    
}

.nav-title:hover{
    border-bottom: 5px solid #FE642E;
}

.nav-title:active{
    border-bottom: 5px solid #FE642E;
} 

/* ----- 1st unorder list ----- */
nav ul {
    background-color: #FAFAFA;
    margin-bottom: 30px;
    padding: 0px;
	list-style: none;
    position: relative; 
    display: inline-table; 
    text-align: center;
}
#nav1 ul button {
    background-color: #FAFAFA;
    width: 65px;
}
#nav1 ul button:hover {
    font-weight: bold;
}
#nav1 ul li {
    height: 40px;
    width: 60px;
    margin-right: 0px; 
} 
#nav1 ul li:hover {
    font-weight: 900;
}
#nav1 ul li a {
    display: inline; 
    color: black; 
    text-decoration: none;
}
#nav1 ul li:hover > ul {
    display: inline;
} 
#nav1 ul li:hover:after {
    margin-top: 5px;
    margin-left: 8px;
    content: ""; 
    display: block;
    width: 44px;
    border: 2px solid #FE642E;
}

/* ----- 2nd unorder list ----- */
#nav1 ul ul {
    font-weight: 100;
    padding: 15px 0 15px 0;
    background: white;
    color: black;
    position: absolute; 
    top: 100%;
    right: -25px; 
    display: none;
    width: 100px;
    border: 1px solid #BDBDBD;  
} 
#nav1 ul ul button{
    width: 100px;
    background-color: white;
}
#nav1 ul ul li {
    position: relative;   
    width: 100px;
    height: 20px;
    padding: 0px;
} 

#nav1 ul ul li:hover:after {
    margin-top: 4px;
    content: ""; 
    display: block;
    border: none;
}  
#nav1 ul ul li > a {
    width: 110px;
    color: black; 
} 
#nav1 ul ul li a:hover {
    color: black;
    font-weight: 800;
    border-bottom: none;
}

/* ----- 3rd unorder list ----- */
#nav1 ul ul ul {
    position: absolute; 
    right: -102px;
    left: 100; 
    top:0%;    
} 


/* ----- Address Bar ----- */
.addressbar{
    margin-top: 50px;
    margin-bottom: 25px;
}
section{
    margin-top: 40px;
}
/* ----- Bulletin ----- */
.bulletin{
    width: 47%;
    min-height: 30px;
    float: left;
}
.bulletin-separator{
    float: left;
    width: 5%;
    min-height: 30px;
}
.bulletin h1{
    font-weight: 100;
    padding-bottom: 4px;
    border-bottom: 5px solid #585858;
}

/* input fields */
.bulletin input{
    border: none;
    padding: 7px;
    background-color: #F2F2F2;
    margin-bottom: 10px;
}
.bulletin #name{
    width: 96.5%;
}
.in-phone{
    float: left;
    width: 45.9%;
}
.in-email{
    float: right;
    width: 45%;
}
textarea{
    width: 95%;
    height: 80px;
    padding: 10px;
    border: none;
    background-color: #F2F2F2;
}
.bulletin .submitBtn{
    width: 100px;
    margin-top: 20px;
    color: white;
    border: none;
    background-color: #FE642E;
    font-weight: 800;
}
.bulletin .social{
    margin-top: 55px;
    width: 30px;
    height: 30px;
}

